@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  height: 100vh;
}

.ql-editor{
  font-size: 1.05rem;
}

.notFound{
 background: url("https://blog.thomasnet.com/hubfs/shutterstock_774749455.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 object-fit: cover;
  min-height: 100vh;
}
.post_content p{
margin-bottom: 0.5rem;
}
.post_content h1{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin:1.5rem 0;
}
.post_content h2{
  font-size: 1.4rem;
  font-family: sans-serif;
  margin:1.5rem 0;
}
.post_content a{
  text-decoration: none;
  color: rgb(73,149,199);
}

.post_content a:hover{
  text-decoration:underline;
}

.dark .post_content a{
  color: red;
}